= render partial: "messages/sidebar"
.chat-main
  .main-header
    .main-header__group-box
      %h2.main-header__group-box__group-title
        グループ名
      %ul.main-header__group-box__member
        Member：
        %li.main-header__group-box__member
          Guest1
        %li.main-header__group-box__member
          Guest2
    = link_to "https://www.google.co.jp/", class: "main-header__edit-btn" do
      .main-header__edit-btn__text
        Edit
  .messages
    = render partial: "messages/message"
  .send
    .form
      = form_for [@group, @message], {:html => {:class => "text-box"}} do |f|
        = f.text_field :content, class: 'text-box__textarea', placeholder: 'type a message'
        .text-box__mask
          = f.label :image, class: 'text-box__mask__photo', for: "message_image" do
            = fa_icon 'fa-image', class: 'fa fa-image'
            = f.file_field :image, id: 'message_image'
        = f.submit 'Send', class: 'submit-btn'