= render partial: "messages/sidebar"
.chat-main
  .main-header
    .main-header__group-box
      %h2.main-header__group-box__group-title
        = @group.name
      %ul.main-header__group-box__member
        Member：
        - @members.each do |member|
          %li.main-header__group-box__member
            = member.name
    = link_to edit_group_path(params[:group_id]), class: "main-header__edit-btn", data: {"turbolinks" => false}  do
      .main-header__edit-btn__text
        Edit
  .messages
    = render @messages
  .send
    .form
      = form_for [@group, @message], {:html => {:class => "text-box"}} do |f|
        = f.text_field :content, class: 'text-box__textarea', placeholder: 'type a message'
        .text-box__mask
          = f.label :image, class: 'text-box__mask__photo', for: "message_image" do
            = fa_icon 'fa-image', class: 'fa fa-image'
            = f.file_field :image, id: 'message_image'
        = f.submit 'Send', class: 'submit-btn'